*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 600px;
    width: 360px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.card img{
    width: 360px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.textBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 75%;
    text-align: center;
}
#amountBox{
    width: 80%;
    height: 10%;
    background-color:rgb(91, 128, 129);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
#leftBox{
    /* width: fit-content; */
    display: flex;
    gap: 15px;
    align-items: center;
}
#leftBox img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
#paymentButton{
    width: 80%;
    height: 9%;
    background-color: darkblue;
    border-radius: 20px;
    color: white;
    font-size: 1em;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.cancel{
    font-weight: bolder;
}
